@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Cart

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet" />
@* <!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
      rel="stylesheet" /> *@

<style>


.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}


}</style>

<section class="h-100 h-custom" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        <h6 class="mb-0 text-muted">@Model.CartItems.Count items</h6>  <!-- Dynamically display the count of cart items -->
                                    </div>
                                    <hr class="my-4">

                                    @foreach (var item in Model.CartItems)
                                    {
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="@item.Product.Photo" class="img-fluid rounded-3" alt="@item.Product.Title">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted">@item.Product.Sub_Class</h6>
                                                <h6 class="text-black mb-0">@item.Product.Title</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <!-- Update or remove the quantity controls based on your functionality -->
                                                @* <input type="number" class="form-control form-control-sm" value=" readonly /> *@
                                                <form method="post" asp-action="UpdateCartItemQuantity" asp-controller="Cart">
                                                    <input type="hidden" name="productId" value="@item.ProductId" />
                                                    <input type="hidden" name="currentQuantity" value="@item.Quantity" />

                                                    <!-- Decrement Button -->
                                                    <div class="input-group mb-3 mt-3" style="width: 140px;">
                                                    <button type="submit" class="btn btn-light btn-outline-secondary" style="width:40px; max-width:40px" name="change" value="decrease">-</button>

                                                  
                                                    <input type="number" class="form-control text-center" style="width:50px" value="@item.Quantity" id="quantityInput" name="quantity" min="1" readonly>

                                                    <!-- Increment Button -->
                                                    <button type="submit" class="btn btn-light btn-outline-secondary" style="width:40px; max-width:40px;" name="change" value="increase">+</button>
                                                    </div>
                                                </form>
                                            </div>
                                            @if (item.Product.Sale_Perc == 0)
                                            {
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0">$ @item.Product.Price</h6>
                                                </div>
                                            }
                                            else
                                            {

                                                var discountAmount = ((double)item.Product.Sale_Perc / 100) * item.Product.Price;

                                                // Apply the discount to get the new price, then add 1
                                                var newPrice = item.Product.Price - discountAmount ;
                                               
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0">$ @newPrice.ToString("N2")</h6>
                                                </div>
                                            }
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <!-- Update or add functionality for removing items -->
                                                <form method="post" asp-controller="Cart" asp-action="RemoveFromCart">
                                                    <input type="hidden" name="productId" value="@item.ProductId" />
                                                    <button type="submit" class="btn"><i class="fas fa-trash text-danger" onclick="return confirm('Are you sure you want to remove this item from the cart?');"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                    }


                                    <!-- Summary and additional controls -->
                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="/" style="text-decoration:none" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <!-- Dynamically calculate total price -->

                                        <h5>
                                            $@Model.CartItems.Sum(item =>
                                                    (item.Product.Sale_Perc > 0
                                                    ? (item.Product.Price - (item.Product.Price * ((double)item.Product.Sale_Perc / 100)))
                                                    : item.Product.Price)
                                                    * item.Quantity).ToString("N2")
                                        </h5>

                                    </div>

                                    <button type="submit" asp-controller="CheckOut" asp-action="Payment" class="btn btn-dark">Buy Now <i class="bi bi-credit-card-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



