@using BuyBikeShop.ViewModels
@model PaymentVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var currentUser = await userManager.GetUserAsync(User);
}

@using Microsoft.AspNetCore.Identity;
@using BuyBikeShop.Data;
@inject UserManager<Customer> userManager

 @* <h1>This is payment page ordered quatity is @ViewBag.Quantity and the product ID is: @ViewBag.Id </h1>  *@

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container wrapper">
    <div class="row cart-head">
        <div class="container">
            <div class="row">
                <p></p>
            </div>
   
            <div class="row">
                <p></p>
            </div>
        </div>
    </div>
    <div class="row cart-body">
        <form class="form-horizontal" method="post" asp-action="CreateOrder" asp-controller="CheckOut">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6" >
                <!--REVIEW ORDER-->
                <div class="panel panel-info" style=" border-color:black">
                    <div class="panel-heading" style="background-color:black; color:white;" >
                        Review Order <div class="pull-right"><small><a href="Cart" style="color:white" class="afix-1">Edit Cart</a></small></div>
                    </div>
                    <div class="panel-body">
                        @foreach (var item in Model.Cart.CartItems){
                            var discountAmount = ((double)item.Product.Sale_Perc / 100) * item.Product.Price;

                            // Apply the discount to get the new price, then add 1
                            var newPrice = item.Product.Price - discountAmount;
                            var total = newPrice * item.Quantity;
                            <div class="form-group">
                            <div class="col-sm-3 col-xs-3">
                                <img class="img-responsive" src= @item.Product.Photo />
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-xs-12">@item.Product.Title</div>
                                    <div class="col-xs-12"><small>Quantity: <span>@item.Quantity</span></small></div>
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                    <h6><span>$</span>@total.ToString("N2")</h6>


                            </div>
                        </div>
                        <div class="form-group"><hr /></div>
                        }
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Order Total</strong>
                                <div class="pull-right">
                                    <span>$</span><span>
                                        @Model.Cart.CartItems.Sum(item =>
                                                (item.Product.Sale_Perc > 0
                                                ? (item.Product.Price - (item.Product.Price * ((double)item.Product.Sale_Perc / 100)))
                                                : item.Product.Price)
                                                * item.Quantity).ToString("N2")
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--REVIEW ORDER END-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                <!--SHIPPING METHOD-->
                <div class="panel panel-info" style="border-color:black">
                    <div class="panel-heading" style="background-color:black; color:white;">Address</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h4>Shipping Address</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Country:</strong></div>
                            <div class="col-md-12">
                                <input class="form-control" asp-for="@Model.cp.country" value="@currentUser?.Country" />
                                <span asp-validation-for="@Model.cp.country" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <strong>First Name:</strong>
                                <input type="text" asp-for="@Model.cp.first_name" class="form-control" value="@currentUser?.FName" />
                                <span asp-validation-for="@Model.cp.first_name" class="text-danger"></span>
                            </div>
                            <div class="span1"></div>
                            <div class="col-md-6 col-xs-12">
                                <strong>Last Name:</strong>
                                <input type="text" asp-for="@Model.cp.last_name" class="form-control" value="@currentUser?.LName" />
                                <span asp-validation-for="@Model.cp.last_name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Address:</strong></div>
                            <div class="col-md-12">
                                <input type="text" asp-for="@Model.cp.address" class="form-control" value="@currentUser?.Street" />
                                <span asp-validation-for="@Model.cp.address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>City:</strong></div>
                            <div class="col-md-12">
                                <input type="text" asp-for="@Model.cp.city" class="form-control" value="@currentUser?.City" />
                                <span asp-validation-for="@Model.cp.city" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                            <div class="col-md-12">
                                <input type="text" asp-for="@Model.cp.zip_code" class="form-control" value="@currentUser?.Zip" />
                                <span asp-validation-for="@Model.cp.zip_code" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Phone Number:</strong></div>
                            <div class="col-md-12"><input type="text" asp-for="@Model.cp.phone_number" class="form-control" value="@currentUser?.Phone" /></div>
                            <span asp-validation-for="@Model.cp.phone_number" class="text-danger" style="margin-left: 17px;"></span>
                        </div>
                        <div class="form-group">
                            
                            <div class="col-md-12"><strong>Email Address:</strong></div>
                            <div class="col-md-12"><input type="text" asp-for="@Model.cp.email_address" class="form-control" value="@currentUser?.Email" /></div>
                            <span asp-validation-for="@Model.cp.email_address" class="text-danger" style="margin-left: 17px;"></span>
                        </div>


                    </div>
                </div>
                <!--SHIPPING METHOD END-->
                <!--CREDIT CART PAYMENT-->

                <div class="panel panel-info" style="border-color:black">
                    <div class="panel-heading" style="background-color:black; color:white;"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12"><strong>Card Type:</strong></div>
                            <div class="col-md-12">
                                <select id="CreditCardType" asp-for="@Model.cp.CreditCardType" class="form-control">
                                    <option value="5">Visa</option>
                                    <option value="6">MasterCard</option>
                                    <option value="7">American Express</option>
                                    <option value="8">Discover</option>
                                </select>
                                <span asp-validation-for="@Model.cp.CreditCardType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Credit Card Number:</strong></div>
                            <div class="col-md-12"><input type="text" class="form-control" asp-for="@Model.cp.car_number" value=@TempData["DecryptedCreditNumber"] /></div>
                            <span asp-validation-for="@Model.cp.car_number" class="text-danger" style="margin-left: 17px;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Card CVV:</strong></div>
                            <div class="col-md-12"><input type="text" class="form-control" asp-for="@Model.cp.car_code" value=@TempData["DecryptedCVV"] /></div>
                            <span asp-validation-for="@Model.cp.car_code" class="text-danger" style="margin-left: 17px;"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <strong>Expiration Date</strong>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" asp-for=@Model.cp.ExpirationMonth>
                                    <option value="">Month</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span asp-validation-for="@Model.cp.ExpirationMonth" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" asp-for=@Model.cp.ExpirationYear >
                                    <option value="">Year</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2028">2029</option>
                                    <option value="2030">2030</option>
                                </select>
                                <span asp-validation-for="@Model.cp.ExpirationYear" class="text-danger"></span>
                            </div>
                        </div>

@*                        <input type="hidden" value="@Model.Cart"/>
 *@
                        <div class="form-group">
                            <div class="col-md-12">
                                <span>Pay secure using your credit card.</span>
                            </div>
                            <div class="col-md-12">
                                <ul class="cards">
                                    <li class="visa hand">Visa</li>
                                    <li class="mastercard hand">MasterCard</li>
                                    <li class="amex hand">Amex</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        @if (currentUser != null)
                        {
                            <div>
                                <input class="form-check-input" asp-for="@Model.cp.saveDetails" type="checkbox">
                                <label class="form-check-label" for="saveDetails">Do you want to save your details for next purchase? </label>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <button type="submit" class="btn btn-dark btn-submit-fix" style="background-color: #50C878;">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CREDIT CART PAYMENT END-->

            </div>

        </form>
    </div>
    <div class="row cart-footer">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Get the current year and month
        var currentDate = new Date();
        var currentYear = currentDate.getFullYear();
        var currentMonth = currentDate.getMonth() + 1; // JavaScript months are zero-based

        // Add change event listeners to the select elements
        document.getElementById('ExpirationMonth').addEventListener('change', validateExpirationDate);
        document.getElementById('ExpirationYear').addEventListener('change', validateExpirationDate);

        // Function to validate the selected expiration date
        function validateExpirationDate() {
            var selectedYear = parseInt(document.getElementById('ExpirationYear').value);
            var selectedMonth = parseInt(document.getElementById('ExpirationMonth').value);

            if (selectedYear < currentYear || (selectedYear == currentYear && selectedMonth < currentMonth)) {
                alert('Please select a future expiration date.');
                // Clear the selected expiration date
                document.getElementById('ExpirationMonth').selectedIndex = 0;
                document.getElementById('ExpirationYear').selectedIndex = 0;
            }
        }
    </script>
}